*{
  box-sizing: border-box;
 
}

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Work+Sans&display=swap');

  
head{  

  font-family: 'Work Sans', sans-serif;
}
body{
font-family: 'Work Sans', sans-serif;

}
/* navbar start rightside */

.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.logo-container{
   display: flex;
   width: 50%;
   align-items: center;
}
.logo-container img{
  width: 90px;
  height: 60px;
  text-align: center;
  margin-top: 5px;
  margin-right: 15px;
}
.logo-container p{
  text-align: center;
  font-size: 50px;
}
/* Navbar Leftside */
.nav-item-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item-container a{
  text-decoration: none;
  
 font-size: 30px;
 color: #3C354F;
}
.hive-section{
  color: #ff42a4;
}

.navbar-icon{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 70px;
  border-radius: 8px;
  background: rgba(11, 2, 34, 0.1);
  padding: 35px;
}
.navbar-icon p{
 font-size: 24px;
 color: #3C354F;
 
}


/* banner section */

/* .banner-container{
  height: 100vh;
  background-image: url("./image/background.jpg"),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));

  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
 


.banner{
  
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  
}
.faw{
  width:50%;
  background-image: url("./images/Group14.png");
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.goat{
  
  margin-top: 160px;
}

.play{
  margin-top: 50px;
    font-size: 40px;
    font-family: Work Sans;
}
.no{
  
    font-size: 70px;
    font-weight: 1000;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
   
}
li{
  
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  line-height: 30px;
}
.sign-in{
  
  background-color: #ff42a4;
  width: 150px;
  height: 50px;

  border-radius: 30px;
  border: none;
  color: white;
}
.go-rogue{
 
  background-color: #4EC5F7;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
  border: none;
  color: white;
}


.banner-btn{
 display: flex;
 gap: 20px;
 
}
.goat-img{
  width: 50%;
}
.goat-img img{
   /* border: 1px solid red; */
   /* padding-right:80px; */
    height: 100%;
    width: 100%;
}


/* Online Games section */
.online-game{
  max-width: 1300px;
  margin: 0 auto;
}
.online-game h2{
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
.online-game p{
  
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.funny{
  
  font-size: 50px;
  font-weight: 900;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card{
   
  display: flex;
  gap: 20px;
}


.video-container img{
  
  width: 100%;
  height: 100%;
} 


.video-container {
  position: relative;
  display: inline-block;
  width: 25%;
}

.thumbnail {
  width: 300px; 
  height: auto;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  opacity: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  border:3px solid #F948B2;
  border-radius: 10px;
}


.watch-now-button {
  padding: 10px 20px;
  color:#F948B2;
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
}

.video-container:hover .overlay {
  opacity: 1;
}
figcaption{
  margin-top: 10px;
}


/* play instant section */
.play-instant-container{
  max-width: 1300px;
   
  margin: 40px auto 0;
  min-height: 25px;
  display: flex;
}
.play-instant-des{

  width: 40%;
   min-height: 25px;
   text-align: right;
   padding-left: 120px;
}
.play-instant-img{
  
  width: 60%;
   min-height: 25px;
   position: relative;
}
.play-instant-img img{
  width: 100%;
   border-radius: 20px;
   padding-left: 140px;

}
.other-img{
 
}
.other-img img{
  display: block;
  /* margin: 0 auto; */
  position: absolute;/*Absolute mane tar original position onujai move korbe sob dike*/
  width: 60%;
  left: -14%;
  bottom: -15%;
}

.playy{
  padding-top: 100px;
   font-size: 30px;
  font-family: Work Sans;
  text-align: left;
  align-items: center;
}
.instant{
  color: #F948B2;
}
.para{
  font-size: 20px;
  text-align:justify;
}


.game-container
{   margin-top: 100px;
   max-width: 1300px;
   margin: 150px auto 0;
   display: flex;
   height: 220px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.top-game{

 width: 250px;
 display: flex;
 justify-content: center;
 gap: 20px;
 border-radius: 35px;
 text-align: center;
 align-items: center;
}
.top-game p{
  font-weight: 700;

}
.top-game:hover{
  border: 1px solid #F948B2;
  cursor: pointer;
}
.top-game p:hover{
  color: #F948B2;
}
/*Footer Section*/
footer{
  background-color: black;
    height: 500px;
}
.footer{
  max-width: 1300px;
  margin: 0 auto;
   
}

.footer-logo{
  color: white;
  max-width: 200px;
  margin: 0 auto;
}
.footer-all p{
  font-size: 20px;
  font-weight: 300;
}
.footer-all{
  color: white;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer-icon{
  text-align: center;
}
.footer-policy{
  color: white;
  display: flex;
  justify-content: center;
  gap:50px;
}
.footer-last{
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}